{% extends "blog/base.html" %}
{% block content %}
<div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">
        <h2 class="posttitle loader">Post title: {{ post.title }}</h2>
        <p class="postconent">{{ post.text|safe|linebreaks }}</p>
        {% if post.published_date %}
            <div class="date postdate float-right">
                <h4><strong> Published on: </strong>{{ post.published_date }}</h4>
            </div>
        {% else %}
            <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}

        

        {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        {% endif %}
        
        <h4>All Comments:</h4>
        <hr>
        {% for comment in post.comments.all %}        
            {% if user.is_authenticated or comment.approved_comment %}
                <p>{{ comment.text|safe|linebreaks }}</p>
                <div class="float-right">{{comment.created_date}}</div>
                <p><strong>Posted by: </strong>{{ comment.author }}</p>

                {% if not comment.approved_comment %}
                <div class="float-right">
                    <a class="btn btn-primary" href="{% url 'comment_approve' pk=comment.pk %}">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                    <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
                {% endif %}

            {% endif %}
            <br>
            <hr>
        {% endfor %}
        <br>
        <form action="{% url 'add_comment_to_post' pk=post.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-success" value="Add Comment">
        </form>
    </div>
</div>
{% endblock %}
